#This Apache config file was created by Duplicator Installer on 2021-09-14 08:19:06.
#The original can be found in archived file with the name .htaccess__[HASH]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /skyhook-project/2021_09_14_wp_skyhook/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /skyhook-project/2021_09_14_wp_skyhook/index.php [L]
</IfModule>
# END WordPress