@font-face {
  font-family: 'Montserrat-Light';
  src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Semibold';
  src: url('./fonts/Montserrat-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Volte-Light';
  src: url('./fonts/Volte-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Volte-Medium';
  src: url('./fonts/Volte-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Volte-Semibold';
  src: url('./fonts/Volte-Semibold.otf') format('truetype');
}

@font-face {
  font-family: 'Volte-Bold';
  src: url('./fonts/Volte-Bold.otf') format('truetype');
}


hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor !important;
  border: 0;
  opacity: 0.25;
}


/*General classes*/

body {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular';
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 16px;
  margin-bottom: 0;
  font-family: 'Montserrat-Regular';
}

img {
  max-width: 100%;
  height: auto!important;
}

a, button, input[type="submit"] {
  transition: all 0.5s ease!important;
  text-decoration: none;
}

a:hover, button:hover, input[type="submit"]:hover {
  opacity: 0.8!important;
  text-decoration: none!important;
  transition: all 0.5s ease!important;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Volte-Bold';
}
ul {
  list-style: none;
  padding: 0;
}


/*Covid Notification CSS*/
.covid {
  background-color: #00628C;
  color: #fff;
  padding: 8px 0;
  text-align: center;
}
.covid .container {
  position: relative;
}
.covid .text a {
  position: absolute;
  right: 0;
}
/*Covid Notification CSS*/

/*Header CSS*/
header {
  padding: 15px 0;
  background-color: #F5F8FA;
}
header .menu {
  margin-top: 5px;
}
header .menu ul li {
  padding: 0 5px;
}
header .menu ul li a {
  font-family: 'Montserrat-Medium';
  color: #282828 !important;
}
header .menu ul li.sign-in {
  background-color: #E4E5E6;
  margin: 0 5px;
  border-radius: 7px;
  padding: 0 10px;
}
header .menu ul li.sign-up {
  background-color: #5939CF;
  margin-left: 10px;
  border-radius: 7px;
  padding: 0 10px;
}
header .menu ul li.sign-up a {
  color: #fff !important;
}
header .menu ul li.phone-num {
  padding-left: 30px;
  background: url('images/phone.png') no-repeat center left;
  margin-left: 60px;
}
header .menu ul li.phone-num a {
  color: #5939CF !important;
  font-family: 'Montserrat-Bold';
}
/*Header CSS*/

/*Banner Section Start*/
.main-banner {
  background: url('images/banner-bg.png') no-repeat;
  padding: 100px 0 150px;
  position: relative;

}
.main-banner .banner-img img {
  position: absolute;
  right: 0px;
  top: 0px;
}
.main-banner .banner-text h5 {
  font-size: 24px;
  font-family: 'Volte-Medium';
}
.main-banner .banner-text h1 {
  font-size: 54px;
}
.main-banner .banner-text p {
  font-size: 22px;
}
.main-banner .banner-text a ,
.technicians .technicians-text a ,
.part-145 .part-145-text a ,
.aoc .aoc-text a {
  background-color: #5939CF;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Montserrat-Medium';
}
.banner-logos {
  position: relative;
  z-index: -1;
  padding-bottom: 30px;
}
.banner-logos .logos ul li {
  display: inline-block;
  margin: 0 6px;
}

/*Banner Section End*/

/*Technicians Section Start*/
.technicians {
  padding: 70px 0;
}
.technicians .technicians-text h5 ,
.part-145 .part-145-text h5 ,
.aoc .aoc-text h5{
  font-family: 'Volte-Medium';
  font-size: 18px;
}
.technicians .technicians-text h1 ,
.part-145 .part-145-text h1 ,
.aoc .aoc-text h1 {
  font-size: 50px;
}
.technicians .technicians-text p ,
.part-145 .part-145-text p ,
.aoc .aoc-text p {
  font-size: 19px;
}
/*Technicians Section End*/

/*Part 145 Section Start*/
.part-145 {
  background-color: #F2F1F3;
  padding: 50px 0;
  position: relative;
}
.part-145 .part-145-text ,
.aoc .aoc-text {
  margin-top: 50px;
  position: relative;
}
.part-145 .text-img img {
  position: absolute;
  bottom: -15px;
  right: -90px;
}
/*Part 145 Section End*/

/*AOC Section Start*/
.aoc {
  padding: 70px 0;
}
.aoc .text-img img {
  position: absolute;
  right: -30px;
  bottom: -70px;
  }
/*AOC Section End*/

/*About Section Start*/
.about {
  background: url('images/about-bg.png') no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding: 70px 0 50px;
  color: #fff;
  position: relative;
}
.about .about-text h1 {
  font-size: 45px;
}
.about .about-text p {
  font-size: 18px;
  font-family: 'Montserrat-Light';
}
.about .about-btn a {
  background-color: #fff;
  margin-top: 30px;
  display: inline-block;
  color: #5939cf;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Montserrat-Medium';
  font-size: 23px;
  font-weight: bold;
}
.about .about-img img {
  position: absolute;
  bottom: 10px;
  left: 60px;
}
.about .about-video iframe {
  width:  100%;
  height: 400px;
  border-radius: 10px;
  margin-top: 40px;
}
/*About Section End*/

/*Testimonials Section Start*/
.testimonials {
  padding: 70px 0;
}
.testimonials h1 {
  font-size: 45px;
  margin-bottom: 50px;
}
.testimonials .customer-text p {
  font-size: 24px;
  font-family: 'Volte-Medium';
  text-align: left;
  margin-top: 10px;
}
.testimonials .customer-text h5 {
  font-size: 24px;
  text-align: left;
  margin: 20px 0 0;
}
.testimonials .customer-text .customer-name p {
  margin-top: 0;
}
.testimonials .customer-text .logo img {
  margin-top: 20px;
}
.testimonials .carousel-inner {
  box-shadow: 0px 0px 10px 10px #f4f4f4;
  border-radius: 10px;
}
.testimonials .carousel-item {
  padding: 40px;
}
.testimonials .carousel-control-prev-icon ,
.testimonials .carousel-control-next-icon {
  background: unset;
}
.testimonials .carousel-control-prev {
    left: -17%;
}
.testimonials .carousel-control-next {
    right: -15%;
}
/*Testimonials Section End*/







@media(min-width: 1280px){
  .container {
    max-width: 1200px;
  }
}
@media(max-width: 1279.98px){
  .container {
    max-width: 95%;
  }
}